#todo-form {
  bottom: 280px;
}
#todo-form input {
  background-color: rgba(255, 254, 254, 0.8);
  padding: 10px 0px 10px 35px;
  width: 260px;
  border: none;
  border-bottom: 1px solid red;
}
#todo-form input::placeholder {
  color: sandybrown;
}
#todo-list {
  bottom: 270px;
  color: coral;
}
#todo-list span {
  margin-right: 5px;
}
#todo-list button {
  background-color: rgba(255, 254, 254, 0.5);
  border-radius: 50%;
  border: none;
}
