#imgger {
  z-index: -1;
  position: absolute;
}
.clockfather,
#clock,
#login-form,
#greeting,
#todo-form,
#todo-list {
  position: relative;
}
.clockfather,
#clock {
  z-index: 1;
}
#login-form {
  z-index: 5;
}
#greeting {
  z-index: 3;
}
#todo-form {
  z-index: 7;
}
#todo-list {
  z-index: 9;
}
